name: Deploy Angular to AWS EC2

on:
  push:
    branches:
      - master  

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Instalar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Instalar dependências e gerar build do Angular
        working-directory: client
        run: |
          npm install
          npm run build --prod

      - name: Fazer login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build e Push da imagem Docker
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/angular-ecommerce-app:latest ./client
          docker push ${{ secrets.DOCKER_USERNAME }}/angular-ecommerce-app:latest

      - name: Acessar EC2 via SSH e atualizar Kubernetes
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ubuntu
          key: ${{ secrets.AWS_PRIVATE_KEY }}
          script: |
            kubectl rollout restart deployment frontend -n app-demo